<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.firstProject.mapper.AnalysisMapper">

    <select id="getThemeList" resultType="HashMap">
        SELECT THEME_PK, THEME_NAME, THEME_UP_AND_DOWN
        FROM THEME
    </select>

    <select id="getThemeTop4List" parameterType="int" resultType="HashMap">
        SELECT STOCK_PK, STOCK_NAME, STOCK_CODE, STOCK_PRICE, STOCK_UP_AND_DOWN
        FROM STOCK
        WHERE THEME_PK = #{themePk}
        ORDER BY STOCK_UP_AND_DOWN DESC LIMIT 4
    </select>

    <select id="getThemeBuyDetail" parameterType="int" resultType="HashMap">
        SELECT S.STOCK_PK, STOCK_NAME, STOCK_CODE, STOCK_PRICE, STOCK_UP_AND_DOWN, STOCK_TIME
        FROM STOCK S
             LEFT JOIN INVESTMENT I
             ON S.STOCK_PK = I.STOCK_PK
        WHERE S.THEME_PK = #{themePk}
          AND I.USER_PK = #{loginUserPk}
    </select>

</mapper>