<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.firstProject.mapper.InvestmentMapper">

    <select id="getInvestmentList" parameterType="int" resultType="HashMap">
        SELECT S.STOCK_PK,
               T.THEME_NAME,
               T.THEME_UP_AND_DOWN,
               STOCK_NAME,
               STOCK_CODE,
               STOCK_PRICE,
               STOCK_UP_AND_DOWN,
               STOCK_TIME
        FROM STOCK S
                 LEFT JOIN INVESTMENT I ON S.STOCK_PK = I.STOCK_PK
                 LEFT JOIN THEME T ON S.THEME_PK = T.THEME_PK
        WHERE I.USER_PK = #{loginUserPk};
    </select>


</mapper>